<script>

  window.addEventListener("message", requireready, false);

  function requireready(e){
    var data = JSON.parse(e.data);
    
    if(data.message === 'requireready' && data.controller === 'find'){

      require(
          ['setup'],
          function(){
            
            require([window.controllerPath], function(controller){
              window.Controller = controller;

              var view = window.controller = new Controller.find();
            });

          }
        );

    }
  };

</script>
<script data-main="/javascripts/application" src="http://localhost/components/requirejs/require.js" controller="find" id="requirecontroller"></script>
