<script>

    window.addEventListener("message", requireready, false);

	function requireready(e){
		var data = JSON.parse(e.data);
		
		if(data.message === 'requireready' && data.controller === 'access'){

			require(
	      ['setup'],
	      function(){
	        
	        require([window.controllerPath], function(controller){
	          window.Controller = controller;

	          var view = window.controller = new Controller.index();
	        });

	      }
	    );

		}
	};

</script>
<script data-main="/javascripts/application" src="http://localhost/components/requirejs/require.js" controller="access" id="requirecontroller"></script>
