//- 
	Extends from page layout
extends page

//-
	Include mixins and other blocks
include button
include navbar

block pre
	unless nav
		- var nav = false

	- if(nav)
		mixin navBar(nav)

block content
	.container
		h3.uppercase #{i18n['Choose your bikeshare']}
		ul.bikeshareList