//-
	pre block can be used to put anything before the main container (e.g. navbar)
block pre

.page(id=id, class=className)
	block content

//-
	post block can be used to put anything after the main container (e.g. footer, floating elements, etc...)
block post